.question__container(ng-controller='question')
  .question__col--main
    | {{question.id}} &nbsp;
    .question(ng-bind-html='question.question')

  .question__col--answers
    .answer(ng-repeat='answer in question.answers')
      .answer__col--letter
        .answer__letter {{answer.label}}

      .answer__col--main
        h4.answer__text {{answer.text}}


    .answer__controls
      .text-center
        .btn.btn-default.btn-xs
          .fa.fa-flag  Flag Question

      .answer__footer
        .col-xs-5.col-xs-offset-1
          .btn.btn-block.btn-default PREV. QUESTION
        .col-xs-5
          .btn.btn-block.btn-primary NEXT QUESTION
