header.test__container
  .test__col--info
    h3.test__heading ISEE MIDDLE #1
    h1.test__heading.top SECTION1: VERBAL REASONING

  .test__col--controls
    .test__timer
      .form-group: input
      h4.no-margin TIME REMAINING

    .test__controls
      .col--half: .test__button
        i.fa.fa-pause
        | PAUSE SECTION
      .col--half: .test__button
        i.fa.fa-share-square-o
        | END SECTION
