.row-question {
  .center-column();
}

.col-question {
  .make-sm-column(7);
  padding-top: @grid-gutter-width;
  font-size: @font-size-h3;
  line-height: 1.33;
}

.col-answers {
  .make-sm-column(5);
  padding-top: @grid-gutter-width - 10px;
  background-color: #f1f1f1;
}

.blank {
  display: inline-block;
  width: 100px;
  border-bottom: 1px solid @gray;
}

.media-answer {
  .vac-unknown();
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid @gray;
  min-height: 55px;

  & + & {
    margin-top: 0
  }

  .media-heading {
    margin: 0;
    color: @gray;
    font-family: @font-family-sans-serif;
  }

  .media-body {
    .vac-inner();
    margin: 0 auto;
  }
}

.media-letter {
  .vac-inner();
  height: 35px;
  width: 35px;
  line-height: 33px;
  text-align: center;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 50%;
  border: 1px solid @gray-light;
  margin-right: 10px;

  &.active,
  .media-answer:hover & {
    background-color: @brand-primary;
    border-color: @brand-primary;
    color: #ffffff;
  }
}

.answer-controls {
  padding-top: @grid-gutter-width / 2;

  .controls {
    margin-top: 200px;
    padding-bottom: 1em;
  }
}

