.question {
  font-size: @font-size-h3;
  line-height: 1.33;

  &__container {
    .center-column();
  }

  &__col--main {
    .make-sm-column(7);
    height: 100%;
    padding-top: @grid-gutter-width;
  }

  &__col--answers {
    .make-sm-column(5);
    height: 100%;
    padding-top: @grid-gutter-width - 10px;
    background-color: #f1f1f1;
  }

  &__essay {
    list-style-type: none;

    & > li {
      position: relative;
      display: block;
      counter-increment: questions-counter;
      text-align: justify;
      height: 20px;
      line-height: 20px;
      font-size: 16px;

      &:first-child {
        counter-reset: questions-counter;
      }

      &::before {
        content: counter(questions-counter) " ";
        position: absolute;
        right: 100%;
        text-align: right;
        padding-right: .5em;
      }

      &::after {
        content: '';
        display: inline-block;
        width: 100%;
      }
    }
  }
}

.blank {
  display: inline-block;
  width: 100px;
  border-bottom: 1px solid @gray;
}

.answer {
  .make-row();
  .center-unknown();
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid @gray;
  min-height: 55px;

  &__col--main {
    .make-xs-column(10);
    .unknown-inner();
  }

  &__col--letter {
    .make-xs-column(2, 0);
    .unknown-inner();
  }

  &__letter {
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    font-family: @font-family-block;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50%;
    border: 1px solid @gray-light;

    &.active,
    .answer:hover & {
      background-color: @brand-primary;
      border-color: @brand-primary;
      color: #ffffff;
    }
  }

  &__text {
    color: @gray;
    font-family: @font-family-sans-serif;
    margin: 0;
  }

  &__controls {
    padding-top: @grid-gutter-width / 2;

  }

  &__footer {
    .make-row();
    margin-top: 200px;
    padding-bottom: 1em;
  }
}
