doctype html
meta(charset="utf-8")
title ISEE Practice Test

link(href="/public/style.css", rel="stylesheet")
link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")

script(src="/public/components/jquery/dist/jquery.js")
script(src="/public/components/bootstrap/dist/js/bootstrap.js")
script(src="/public/script.js")

- var _data = JSON.stringify(public._data);
script(type="text/json")!= _data

.container
  != yield

